* {
    margin: 0;
    padding: 0;
    -webkit-user-select: text;
    color: var(--ThemeColor)
}

span {
    margin: 0;
    padding: 0;
    border: 0;
}

input {
    text-indent: 14px;
}

label {
    color: var(--ThemeColor)
}


html,
body {
    color: aliceblue;
    width: 100%;
    background: #232323;
}

label {
    text-align: right;
    margin-bottom: 0px;
    font-weight: normal !important;
}

ul,
li {
    padding: 0;
    margin: 0;
    border: none;
    list-style: none;
}

hr {
    width: 132px;
    margin-left: 36px !important;
    margin-top: 12px !important;
    margin-bottom: 3px !important;
    height: 1px !important;
    border: 0px !important;
    background: linear-gradient(135deg, #3499FF 0%, #1D1C42 100%) !important;
}

.tipBinding {
    display: flex;
    align-items: center;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-text-fill-color: #ededed !important;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    background-color: transparent;
    background-image: none;
    transition: background-color 50000s ease-in-out 0s;
}

input {
    background-color: transparent;
}

#app {
    user-select: none;
    width: 100%;
    --HeaderHeight: 50px;
    --LeftWidth: 68px;
}

/* 滚动条样式*/
#app ::-webkit-scrollbar {
    cursor: pointer;
    width: 6px;
    height: 6px;
    background: var(--scrollbar);
    opacity: 0.4;
    border-radius: 3px;
}

#app ::-webkit-scrollbar-track {
    cursor: pointer;
    background-color: var(--track);
}

#app ::-webkit-scrollbar-thumb {
    width: 6px;
    background: var(--thumb);
    border-radius: 3px;
}

#app ::-webkit-scrollbar-corner {
    background: #232323;
}

#app ::-webkit-scrollbar-thumb:hover {
    background: var(--thumbHover);
    opacity: 0.6;
}

#app ::-webkit-scrollbar-thumb:active {
    background: var(--thumbHover);
}


/* 组件对齐布局 */
.alignment {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* 处理框蓝色提示 */
.process_tip {
    width: 100%;
    height: 23px;
    line-height: 23px;
    background: var(--processHeader);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
    opacity: 1;
    border-radius: 4px 4px 0px 0px;
    text-align: center;
    margin-bottom: 5px;
}


/* 提交处理按钮 */
#newfile_button {
    width: 100%;
    padding: 10px;
}

#newfile_button>button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #288DFB;
    color: var(--ThemeColor);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 155px !important;
    height: 34px;
    box-sizing: border-box;
    margin: 0 auto;
    font-size: 12px;
    font-family: MicrosoftYaHei;
    line-height: 34px;
}


/* 滑块最值选择样式 */
.el-slider__runway {
    width: 90px;
    margin: 0 0px 14px 0px;
    background-color: var(--sliderBack) !important;
    border: 0px;
}


.el-slider__bar {
    height: 20px;
    background: #288DFB;
    border-radius: 4px;
}

.el-slider__button {
    display: none;
}







/* 分页样式 */
.bottom_menu {
    margin: auto
}

.bottom_menu ul:nth-child(2) {
    width: 400px;
}

.bottom_menu .el-icon-arrow-right::before {
    content: "right";
    font-size: 14px;
    visibility: hidden;
}

.bottom_menu .el-icon-arrow-left::before {
    content: "left";
    font-size: 14px;
    visibility: hidden;
}

.bottom_menu button {
    background: var(--pageButton) !important;
}

.bottom_menu .el-pagination.is-background .el-pager li {
    background: var(--pageLiBackground);
    color: var(--ThemeColor);
    margin: 0 8px
}

.bottom_menu .el-pagination.is-background .btn-next,
.bottom_menu .el-pagination.is-background .btn-prev {
    background: none;
    height: 25px;
    margin: 0 8px
}

.bottom_menu .bottom_menu_pageSize .el-input--suffix .el-input__inner {
    width: 80px;
    height: 20px;
    line-height: 20px;
    color: var(--ThemeColor);
    border-radius: 0px;
}

.bottom_menu .bottom_menu_pageSize .el-input--suffix .el-select__caret {
    position: absolute;
    top: -10px;
    left: -25px;
    color: var(--ThemeColor);
}

.bottom_menu .el-pagination.is-background .el-pager li:not(.disabled).active {
    background: #288DFB;
}

.bottom_menu .el-pager li {
    min-width: 25px !important;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
}

.bottom_menu .el-pager .more::before {
    line-height: 25px;
}

/* 分发服务中element的table */
.middle_table {
    position: relative;
    overflow: auto;
    width: 100%;
    min-width: 100%;
    border: 2px solid var(--BackgroundColor)
}

.middle_table {
    min-width: 360px;
    height: 100%;
    background: var(--BackgroundColor);
}

.middle_table .el-table th {
    text-align: center;
    border-right: 2px solid var(--BackgroundColor);
    background: var(--tableth);
    color: var(--ThemeColor);
}

#app .el-table::before {
    height: 0px !important;
}

.middle_table .el-table tr {
    background: var(--tabletd);
    color: var(--ThemeColor);
}

.middle_table .el-table td {
    text-align: center;
    border-right: 2px solid var(--BackgroundColor);
    border-top: 1px solid var(--BackgroundColor);
    border-bottom: 1px solid var(--BackgroundColor)
}

.middle_table .el-table th.is-leaf {
    border-bottom: 3px solid var(--BackgroundColor);
    height: 40px !important;
}

.middle_table .el-table tbody tr:hover>td {
    background-color: var(--partTableBackground) !important;
}

.middle_table .el-table {
    background: var(--BackgroundColor);
    overflow: auto;
    height: 100%;
    text-align: center;
    color: var(--ThemeColor) !important;
}

.middle_table {
    min-width: 360px;
    height: 100%;
    background: var(--BackgroundColor);
}

.dark .el-button:focus,
.dark .el-button:hover {
    color: var(--ThemeColor) !important;
    border: 1px solid #2e2e2e !important;
    background-color: #2E2E2E;
}

.select .el-radio-group .el-radio-button .el-radio-button__inner {
    width: 100px !important;
    background: #383838 !important;
    height: 32px !important;
    padding: 8px 0px !important;
    color: #e0e0e0 !important;
    border: 1px solid #2e2e2e !important;
}

.select .el-radio-button__orig-radio:checked+.el-radio-button__inner {
    background-color: rgba(40, 141, 251, 0.5) !important;
    border-color: rgba(40, 141, 251, 0.5) !important;
}

.middle_table .el-table__body,
.middle_table .el-table {
    overflow: auto;
}

.middle_table .el-table__header-wrapper,
.middle_table .el-table__body-wrapper,
.middle_table .el-table__footer-wrapper {
    overflow: visible;
}

.middle_table .el-table__body-wrapper {
    overflow: visible !important;
}

.middle_table .el-table::after {
    position: relative;
}

.middle_table .el-table--border::after,
.middle_table .el-table--group::after,
.middle_table .el-table::before {
    background-color: rgb(2, 2, 2, 0)
}


/* 下拉菜单 */
.dark .el-dropdown-menu__item:focus,
.dark .el-dropdown-menu__item:not(.is-disabled):hover {
    background-color: #2E2E2E !important;
    color: rgb(81, 152, 219) !important;
}

.dark .el-dropdown-menu {
    background-color: #383838 !important;
}

.dark .el-dropdown-menu .el-dropdown-menu__item {
    color: #E0E0E0 !important;
}




/* 处理日志 */

.log_top .el-input__inner {
    background-color: #383838;
    border-color: #383838;
    color: var(--ThemeColor);
    height: 33px;
    line-height: 33px;
}

.log_top .el-select .el-input.is-focus .el-input__inner {
    border-color: #E0E0E0;
}

.log_top .el-input {
    line-height: 33px;
}

.addData .xbsj-model-box {
    z-index: 1009 !important;
}

.addImageAndTerrain .xbsj-model-box {
    z-index: 10001 !important;
}

.sortCollection .xbsj-model-box {
    z-index: 1008 !important;
}

.xbsj-model-box {
    background: var(--BackgroundColor) !important;
    color: var(--ThemeColor);
}

.xbsj-model-content {
    background: var(--BackgroundColor) !important;
    color: var(--ThemeColor);
}

.darklayout .form-control {
    background: var(--BackgroundColor);
    color: var(--ThemeColor);
    border: 1px solid #303030;
}

.Xbsjlab3_select>.el-select .el-input__inner {
    border: 1px solid #232323;
    height: 30px;
    line-height: 30px;
    background: var(--HeaderColor) !important;
    color: var(--ThemeColor);
}

.Xbsjlab3_select>.el-select .el-input__icon {
    line-height: 30px !important;
}

.Xbsjlab3_select>.el-select .el-input {
    width: 240px;
    line-height: 30px !important;
}





.main_process {
    height: 100%
}

.main_process_div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.el-overlay {
    z-index: 1000 !important;
}

.el-checkbox {
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 10px !important;
}

.el-button--text {
    padding-left: 10px;
    padding-right: 10px;
}

/* element下拉菜单 */

.dark .el-select-dropdown__item {
    color: var(--ThemeColor);
}

.dark .el-select-dropdown__item:hover {
    background: var(--liHover)
}

.dark .el-select-dropdown__item.selected {
    background: var(--liHover)
}

.dark .el-select__popper.el-popper[role='tooltip'] {
    background: var(--elDropDownBack) !important;
    border: 1px solid var(--liHover);
    color: var(--ThemeColor);
}

.dark .el-popper.is-light .el-popper__arrow::before {
    background: var(--elDropDownBack)
}



/* 消息提示框样式 */

.dark .el-message {
    min-width: 240px !important;
    background: #232323 !important;
    border: none;
}

.dark .el-message__content {
    color: #E0E0E0 !important;
}

/* 删除确认框样式修改 */

.dark .el-message-box {
    background: #232323;
    border: none;
}

.dark .el-message-box__title {
    color: #E0E0E0;
}

.dark .el-message-box__message {
    color: #E0E0E0;
}

.dark .el-message-box__btns .el-button {
    min-height: 14px;
    padding: 10px 20px !important;
    color: #E0E0E0 !important;
    background: #383838;
    border: 0px !important;
}

.el-tooltip__popper,
.el-tooltip__popper .is-dark {
    background-color: #000 !important;
}