/* 暗黑主题css样式 */

#dark {
    --vipcolor:#d8b879;/*付费字体样式——土豪金  */
    /* dark——background背景 */
    --HeaderColor: #383838;
    --BackgroundColor: #232323;
    --LeftBackgroundColor: #2E2E2E;

    --borderLeft1:#232323;
    --borderLeft2:#141414;
    --borderBottom:#383838;

    /* dark——字体颜色 */
    --ThemeColor: #E0E0E0;

    /*dark——part组件面板颜色  */
    --processBackground: #1A1A1A;
    --processHeader:#383838;

    /* part组件中table样式 */
    --partTableBorder:#1a1a1a;
    --partTableBackground:#383838;

    /* datk——table */
    --tableth:#383838;
    --tabletd:#2e2e2e;

    /* dark——button按钮 */
     --buttonBackground:#383838;
     --buttonFocus:#288DFB;
     --buttonActive:#2E2E2E;
     --buttonDisable:#666666;
     --buttonHover:#25588F;

    /* dark——input输入框 */
    --inputBackground:#383838;
    --inputBorder:#383838;
    --inputFocusBorder:#288DFB;
    --inputHoverBorder:#288dfb80;
    --inputDisable:#666666;
    --inputDisableBorder:#383838;

     /* dark——Switch组件 */
     --switchBackground:#2e2e2e;
     --switchclosecurrent:#5c5c5c;
     --switchDisable:#2e2e2e;

    /* dark——Slider滑块 */
     --sliderBack:#383838;

    /* dark——chart背景颜色 */
    --chartBackground:#383838;

    /* dark——进度条 */
    --jinduBackground:#6d6b6b;
    --jinduBorder:  #383838;

    /* dark——分页 */
    --pageLiBackground:#2e2e2e;
    --pageButton:#383838;

    /* dark——滚动条 */
    --scrollbar:#626262;
    --track:#383838;
    --thumb:#626262;
    --thumbHover:#E0E0E0;

    /* 产品体系面板颜色 */
    --productBackground:#1A1A1A;
    --productItem:#2e2e2e;
    --productShadow:#000;
    --productTriangle:#1a1a1ae7;

    /* dark——inputDate日期 */
    --inputDate:#383838;
     
    /* dark——element下拉菜单 */
    --elDropDownBack:#383838;
    --liHover:#2e2e2e;

    /* 数据处理背景颜色 */
    --guidBack:#383838;
    --guidButton:#2e2e2e;

    /* 购买授权 */
     --buyAuth:#2e2e2e;

    /* Window组件面板 */
     --windowHeader:#383838;


    /* 删除确认 */
    --messageBack:#232323;
}

#dark button {
    font-size: 14px;
    color: var(--ThemeColor);
    background: var(--buttonBackground);
    opacity: 1;
    border: 1px solid #232323;
    box-sizing: border-box;
}


#dark button:focus {
    background: var(--buttonFocus);
    color:var(var(--ThemeColor))
}

#dark button:hover {
    background: var(--buttonHover);
    color: var(--ThemeColor) !important;
}

#dark button:active {
    background: var(--buttonActive)
}

#dark button:disabled {
    background: var(--buttonDisable);
    cursor: not-allowed;
}

#dark input {
    font-size: 14px;
    background: var(--inputBackground);
    border: 1px solid var(--inputBorder);
    opacity: 1;
}

#dark input:focus {
    border: 1px solid var(--inputFocusBorder);
}

#dark input:hover {
    border: 1px solid var(--inputHoverBorder)
}

#dark input:disabled {
    background: var(--inputDisable);
    border: 1px solid var(--inputDisableBorder);
}

#dark input::-webkit-input-placeholder {/* placeholder颜色  */
    color: var(--ThemeColor);
    font-size: 12px;
    opacity: 0.5;
}

