/* 明亮主题css样式 */
#light {
    --vipcolor:#dd9911;/*付费字体样式——土豪金  */
    /* light——background背景 */
    --HeaderColor: #fff;
    --BackgroundColor: #fff;
    --LeftBackgroundColor: #fff;

    --borderLeft1:#c8c8c8;
    --borderLeft2:#c8c8c8;
    --borderBottom:#c8c8c8;

    /* light——字体颜色 */
    --ThemeColor: #000000;

    /*light——part组件面板颜色 */
    --processBackground: #e2e2e2;
    --processHeader:#f1f1f198;

     /* part组件中table样式 */
    --partTableBorder:#e2e2e2;
    --partTableBackground:#cfcfcf;

     /* light——table */
    --tableth:#cfcfcf;
    --tabletd:#e0e0e0;

    /* light——button按钮 */
    --buttonBackground:#fff;
    --buttonBorder:#232323;
    --buttonFocus:#288DFB;
    --buttonActive:#b3b3b3;
    --buttonDisable:#cfcfcf;
    --buttonHover:#288dfb80;

    /* light——input输入框 */
    --inputBackground:#fff;
    --inputBorder:#929292;
    --inputFocusBorder:#288DFB;
    --inputHoverBorder:#288dfb80;
    --inputDisable:#cfcfcf;
    --inputDisableBorder:#818181;

    /* light——Switch组件 */
    --switchBackground:#b3b3b3;
    --switchclosecurrent:#818181;
    --switchDisable:#b3b3b3;

    /* light——Slider滑块 */
     --sliderBack:#fff;

    /* light——chart背景颜色 */
      --chartBackground:#e0e0e0;

    /* light——进度条 */
    --jinduBackground:#e0e0e0;
    --jinduBorder:  #cfcfcf;

     /* light——分页样式 */
     --pageLiBackground:#cfcfcf;
     --pageButton:#cfcfcf;

    /* light——滚动条 */
    --scrollbar:#818181;
    --track:#cfcfcf;/*滑动轨道颜色  */
    --thumb:#a1a1a1;/*滑块颜色  */
    --thumbHover:#696969;/*滑块hover颜色  */

    /* 产品体系面板颜色 */
    --productBackground:#e6e6e6;
    --productItem:#fff;
    --productShadow:#696969;
    --productTriangle:#e6e6e6;

    /* light——inputDate日期 */
      --inputDate:#fff;
     
    /* light——elelment下拉菜单 */
    --elDropDownBack:#fff;
    --liHover:#cfcfcf;

    /* light——数据处理背景颜色 */
     --guidBack:#cfcfcf;
     --guidButton:#909090;

    /* 购买授权 */
    --buyAuth:#f0f0f0;

    /* Window组件面板 */
    --windowHeader:#f1f1f1;



    color: var(--ThemeColor);
}
#light button {
    font-size: 14px;
    color: var(--ThemeColor);
    background: var(--buttonBackground);
    opacity: 1;
    border:none;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}



/* 结束 */

#light button:focus {
    background: var(--buttonFocus)
}
#light button:hover {
    background: var(--buttonHover) !important;
    color:var( --ThemeColor)
}

#light button:active {
    background: var(--buttonActive)
}

#light button:disabled {
    background: var(--buttonDisable);
    cursor: not-allowed;
}

#light input {
    background: var(--inputBackground);
    border: 1px solid var(--inputBorder);
    opacity: 1;
}

#light input:focus {
    border: 1px solid var(--inputFocusBorder)
}

#light input:hover {
    border: 1px solid var(--inputHoverBorder);
}


#light input:disabled {
    background: var(--inputDisable);
    border: 1px solid var(--inputDisableBorder);
}

#light input::-webkit-input-placeholder {  /* placeholder颜色  */
    color: var(--ThemeColor);
    font-size: 10px;
    opacity: 0.5;
}
